.before-footer{
    justify-items: center;
    border: solid green 3px;
    max-width: 90%;
    width: 900%;
    height: auto;
    color: #1f2937;
    background-color: #e5e7eb;
}
.qoat-section{
    max-width: 90%;
    width: 80%;
    border: solid blueviolet 3px;
    justify-items: center;
}

    p{
        /* padding-left: 90px; */
        text-align: center;
        font-size: 36px;
        font-style: italic;
        max-width: 80%;
        border: solid red 3px;

    }
 
    .deve#loper{
        padding-left: 550px;
        max-width: 80%;
        text-align: end;
        border: solid orange 3px;

    }
   
