body{
    background-color: black;
}
.Project-container{
    text-wrap: row wrap;
    height: 100%;
    /* border: solid rgb(134, 55, 194) 2px; */
    /* background-color: #f7f7f7; */
    margin: 3px;
    justify-items: center;

}

