.body-wrapper{
    padding: 0;
    margin: 0;
    line-height: 0.9;
    height: 100vh;
   /* border: solid rgb(2, 2, 48) 7px; */
    font-style: roboto;
    justify-content: center;
  /*  background-color: rgb(99, 91, 91);*/
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh; 
  /*  border: solid rgb(90, 113, 74) 5px; */
    justify-items:center;
    margin: 6px;
  /*  background-color: #586475; */
  flex-shrink: 100vh;

}

.container-item-01{
    display: flex;
    height: 55px;
  /*  border: solid rgb(10, 213, 10) 8px;*/
    margin: 2px;
    flex-shrink: 1;
}
.container-item-09{
    display: flex;
    background-color: #1F2937;

}
/*[class ^="item-"]{
 /*border: solid rgb(74, 2, 2) 7px; 
    flex: 1;
    margin:9px;
    background-color: dark #07101d;
} 
*/
.item-1{
   /* border: #0b49c5 solid 5px;*/
    color: #f9faf8;
    flex: 1;
    height: 60%;
    background-color: #1f2937;

}
.item-2{
    

}
.item-3{

}
.item-4{

}
.header-sec-side-1{
    display:flex;
}
.header-sec-side-2{
    padding-left: 300px;
}
.strong-02{
    padding-left: 50px;
    border-radius: 5px;
    margin-right: 50px;
 /*   border: solid #3882f6 4p  x; */
}
.container-item-01{
   font-size: 18px;
   color:  #dee2ea;
}
.Header-side-1{
    flex: 1 2 100px;
    font-size: 20px;
    color: #f5f5f5;
    justify-content: center;
    
}
.LS-solution{
    text-decoration: line-through;
    font-size: 24px;
    color:  #F9FAF9;
    font-weight: bold;
    font-style: italic;
    font-family: tahoma;
}
.Header-side-2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
}
.Header-side-2 ul li {
    text-decoration: none;
    display: flex;
    text-indent: 30px;
    text-decoration: underline;
 /*   border: solid goldenrod 3px;*/
    width: 250px;
    height: 15px;
    font-size: 18px;
    
}
/*
.Header-side-2 ul li {
   /* font-style: none;

    text-align: center;
}
*/
.container-item-01{
  /*  background-color: rgb(172, 102, 12);*/
    flex-grow: 2;

}
[class ^="Header-side-"]{
    display: flex;
 /*   border: solid rgb(239, 239, 10) 5px;*/
    flex: 1;
    height: 10px;
}
.Header-side-1{
/* background-color: rgb(39, 39, 75);*/
    text-align: end;

}
.Header-side-2{
 /*   background-color: #bfc4cd;*/
}

.hero-02{
   /* background-color: rgb(15, 199, 199);*/
    font-size: 18px;
}
.header-sec-side-1{
    display: flex;
    flex-wrap: wrap;

}
.container-item-09{
    display: flex;
 /*   border: solid rgb(162, 237, 12) 4px; */
    height: 27vh;
    flex: 1;
  /*  padding: 1px;*/
 

}
.hero-01{
    font-size: 40px;
    font-weight: 900%;
    color:  #dce1d8; 
        /* background-color: rgb(2, 32, 22);*/
          font-size: 22px;
          font-weight: bold;
          font-family: 'Times New Roman', Times, serif;
      
      
      }


[class ^="header-sec-side-"]{
    display: flex; 
  /*  border: solid rgb(188, 23, 188) 3px; */
    flex: 1;
  /*  padding: 1px; */
}
.header-sec-side-1{
    justify-content: space-between;
  /*  background-color: blue; */
  /*  border: #18191b solid 7px; */
    padding-left: 105px;
}
img{
    height: auto;
    width: 268px;
}

.header-sec-side-2{
    justify-content: space-between;
 /*   background-color: rgb(12, 12, 154); 
 /*  border: #18191b solid 7px; */
    
    
}
[class^="strong-"]{
    height: 170px;
    width: 270px;
   /* border: solid rgb(144, 14, 14) 3px; */
    padding: 4px; 

}
.strong-02{
    background-color: #7b7d81;
    justify-items: center;
    justify-content: center;

}
.hero-01{
font-size: 48px;

}
.hero-02{
    font-size: 13px;

}
.hero-03{
    font-size: 15px;
}
.header-sec-side-1{
    justify-content: center;
}
.strong-2{
    background-color: #f2f3f6;

}
.item-2 .heaaad{
 border: solid rgb(0, 230, 230) 2px; 
    text-align: center;
    height: 20px;
    font-weight: 900px;
    font-size: 14px;


}
.content1-item-1000{
    display: flex;
    border: solid rgb(21, 19, 1) 3px;
    height: vh;
    flex-direction:row;
    justify-content: center;
    box-sizing: border-box;


}
[class ^="content-"]{
    border: solid rgb(30, 27, 227)  3px;
    width: 65px;
    height: 65px;
    margin: 3px;
    border-radius: 5%;

}
.item-3{
    background-color: rgb(220, 220, 225);
    display: flex;
    justify-content: center;

}
#one{
    padding: 1vh;
    width: 500px;
    height: auto;
    border: solid #1F2937 3px;
    background-color: rgb(104, 130, 130);


}
#keek-it-up{
    border-radius: 5px;
}
p{
    border: solid green 3px; 
    text-align: end;
}
.item-4{
    height: auto;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

#two{
    background-color:#1F2937;
    border: solid #588fdc 3px;
    height: 30px;
}
.item-1{
    background-color: #1F2937;
}
.item-2{
    background-color: aliceblue;
}

#call-to-action{
    display: flex;
    border: solid blueviolet 2px;
    height: 95px;
    width: 700px;
    margin-bottom: 40px;
    margin-left: 350px; 
    padding: 5vh;
    justify-content: space-around; 

}
[class ^="note-"]{
    border: solid burlywood 7px;
    height: 90%;
    width: 150px;
    margin: 3px;
    justify-content: space-around;
    background-color: blue;

}
h3{
    border: solid rgb(26, 86, 26) 1px;
    text-align: start;
    padding-left: 10vh;
    
    
}
h6 .item-2 .heaaad{
    border: #1F2937 solid 5px;
    background-color: #3882f6;
    height: 50px;
    width: auto;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.note-1{
    line-height: 1vh;
    flex-grow: 1;
    justify-content: space-around;
}
.note-2{
 /*   align-items: center; */
    padding-top: 2vh; 
    justify-content: center;
    align-items: center;

}

/*

span{
 background-color: #5b6883;
    font-size: 23px;
}

 */

[class ^="Header-side-"]{
 /*   border: #1F2937 1vh solid; */
    margin: 7px;

}

.header-sec-side-2{
   background-color: rgb(23, 24, 24);
  /* border: #8e9ebf solid 2px; */

 
}
[class ^= "content-0"]{
    flex: 1;
   /* border: solid rgb(14, 167, 169) 3px; */

}
[class ^="content-0"]{
    display: flex;
    flex: 1;
    width: 30px;
    height: 5px;
    font-size: 3px;

}
.Header-side-2{
    display: flex;
}

.header-sec-side-2{
    background-color: #1F2937;
    display: flex;
}
button .hero-03 .pond{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #3882f6;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}